---
---

@import 'normalize';

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin visuallyHidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

$primary: #0875BB;
$containerWidth: 880px;

body {
  font-family: sans-serif;
  font-size: 18px;
  color: black;
}

a {
  color: $primary;
  font-weight: bold;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
blockquote {
  line-height: 1.8;
  margin-top: 1rem;

  img {
    max-width: 100%;
    height: auto;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  margin: 2rem 0 0 0;
  font-size: 1.3rem;
}

hr {
  display: block;
  margin: 2rem 0;
  width: 100%;
  height: 3px;
  background: black;
  border: none;
}
.container {
  margin: 0 auto;
  padding: 1rem 1rem 5rem;
  max-width: $containerWidth;
  box-sizing: border-box;
}

header {
  border-bottom: 4px solid black;
  padding-bottom: 1rem;
  margin-bottom: 2rem;

  h1 {
    letter-spacing: 0.1rem;
    margin: 2rem 0 0;
    line-height: 1.5;
  }

  h2 {
    letter-spacing: 0.05rem;
    margin: 1rem 0 0;
    line-height: 1.8;
  }
}

.page header {
  @include visuallyHidden();
}
.page main h2 {
  font-size: 2.4rem;
}
nav {
  border-bottom: 4px solid black;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  line-height: 1.4;

  .divider {
    display: inline-block;
    margin: 0 0.4rem;
  }
}


.projects {
  @include clearfix();

  li {
    display: block;
    float: left;
    width: 48%;
    margin-bottom: 1rem;
  }
  li:nth-child(even) {
    margin-left: 4%;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0.8rem;
  }
  a {
    padding: 1rem;
  }

}

@media (max-width: 660px) {
  header h1 {
    margin-top: 0;
  }

  .projects {
    li {
      float: none;
      width: auto;
      margin-bottom: 1rem;
    }
    li:nth-child(even) {
      margin-left: 0;
    }
  }
}
